<div>
    <mat-grid-list cols="2" mat-grid-responsive>
        <mat-grid-tile class="first" colspan="2" rowspan="1">
            <h1>Gahan</h1>
        </mat-grid-tile>
        <mat-grid-tile class="contentTile" colspan="1" rowspan="1">
            <div class="contentDiv">
                <div>
                    <h2>Welcome</h2>
                    <hr>
                </div>
                <div class="divP"> 
                    <p>In 2040, after traveling the world extensively, George Wang returned to the US</p>
                    <p>He trained in multiple Michelin-starred restaurants abroad under the tutelage of a handful of chefs</p>
                    <p>But he couldn't find exactly what he desired here. So he sought out to do it himself</p>
                    <p>Thus, came the opening of<em strong> Gahan </em> inspired from his birth name</p>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="right1"colspan="1" rowspan="1"></mat-grid-tile>
        <mat-grid-tile class="left2" colspan="1" rowspan="1"></mat-grid-tile>
        <mat-grid-tile class="contentTile" colspan="1" rowspan="1">
            <div class="contentDiv">
                <div>
                    <h2>The Experience</h2>
                    <hr>
                </div>
                <div class="divP"> 
                    <p>Where luxury meets accessibility</p>
                    <p>The ideal hideaway for any sized gathering</p>
                    <p>Enjoy a fusion of flavors from the East and West in world-class teas, desserts and large plates</p>
                    <p>Cafe hours from 9AM - 4PM and Restaurant hours from 6PM - 11PM</p>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="contentTile" colspan="1" rowspan="1">
            <div class="contentDiv">
                <div>
                    <h2>Join the Team</h2>
                    <hr>
                </div>
                <div class="divP"> 
                    <p>George is desperate for workers. Please join so he doesn't have to work on this application any longer. It was fun while it lasted, but he needs someone to take over.</p>
                    <button mat-stroked-button color="primary" class="signUpButton" routerLink="/register">Sign up</button>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="right2"></mat-grid-tile>
    </mat-grid-list>
    <mat-toolbar class="footerBar">
        <div class="footerText">
            <span>
                <p>Somewhere on earth, EÅ 99999</p>
            </span>
            <span>
                <p>phone: (678) 999-8212</p>
            </span>
        </div>
    </mat-toolbar>
</div>